<html>

<head>
    <meta charset="utf-8">
    <title>Q&A</title>
    <link rel="stylesheet" type="text/css" href="http://appme.emirim.kr/css/QA_wep.css">
</head>

<body>

    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="QA_title">Q&A</div><br><br>
        <div class="intro">앱앤미와 관련되어 궁금한 점이 있다면<br> 질문하고 궁금증을 풀어보세요. </div><br><br><br>
        <hr width="1200px" color="gray" size="1"><br><br><br><br>
        <center>
            <table width="1000px" class="list-table">
                <thead>
                    <tr>
                        <th width="50px"> NO </th>
                        <th width="500px"> TITLE </th>
                        <th width="70px"> NAME </th>
                        <th width="80px"> DATE </th>
                    </tr>
                </thead>
                <tbody>
                    <%if(contents.length>0){%>
                        <%var i = 0;%>
                            <%contents.forEach(function(item){%>
                                <%i++;%>

                                    <tr>
                                        <td>
                                            <%=i%>
                                        </td>
                                        <td>
                                            <a href='viewBoard/<%=item.token%>'>
                                                <%=item.title%>
                                            </a>
                                        </td>
                                        <td>
                                            <%=item.name%>
                                        </td>
                                        <td>
                                            <%=moment(item.date).format('YYYY-MM-DD')%>
                                        </td>
                                    </tr>
                                    <%})%>
                                        <%} else {%>
                                            <tr>
                                                <td colspan="5">아직 등록된 질문이 없습니다.</td>
                                            </tr>
                                            <%}%>
                </tbody>
                <tfoot>
                    <tr>
                        <td align="center" colspan="5">1</td>
                    </tr>
                </tfoot>
            </table>
        </center>
        <a href="qa_form"><img style="float: right; margin-right:13%;" src="http://appme.emirim.kr/img/write.jpg"></a>
    </section>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>