<html>

<head>
    <meta charset="utf-8">
    <title>지원현황</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:9000/css/new_confirm.css">
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">지원현황</div><br><br>
        <hr width="1200px" color="gray" size="1"><br>
        <center>
            <table>
                <tr>
                    <%if(appliers.length>0){%>
                        <%var i = 0;%>
                            <%appliers.forEach(function(element){%>
                                <td>
                                    <div class="jb-wrap">
                                        <div class="title">
                                            <div class="name">
                                                <%=element.student_id%>&nbsp;
                                                    <%=element.name%>
                                            </div>
                                            <div class="phone">
                                                <%=element.phone%>
                                            </div>
                                            <div class="five">
                                                <%=element.brief%>
                                            </div>
                                            <div class="pr">
                                                <%=element.reason%>
                                            </div>
                                            <div class="reason">
                                                <%=element.todo%>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <%i++;%>
                                    <%if(i%3==0&&i!=0){%>
                </tr>
                <tr>
                    <%}%>
                        <%})%>
                            <%} else {%>
                                <tr>
                                    <td colspan="5">아직 신청자가 없습니다.</td>
                                </tr>
                                <%}%>
                </tr>
            </table>
        </center>
    </section><br>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>